* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #60adc9;
    color: #fff;
    padding: 20px;
    width: 100%;
    position: fixed;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  nav ul li.logo {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-section {
    background-image: url("images/bank\ \(3\).jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: orangered;
    padding: 150px 0;
  }
  
  .hero-section h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .hero-section .account-button {
    /* background-color: #fff; */
    color: #1a1a1a;
    /* border: none; */
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 18;
    border: 1px solid silver;
    background-color: cornsilk;
    cursor: pointer;
  } 
  .account-button a {
    text-decoration: none;
  }
  .account-button :hover {
    background-color: rgb(255, 171, 171);
  }
h2 {
    padding: 35px 10px 12px 0px;
}
.services {
    display: grid;
    gap: 15px;
}
.services-section {
    padding-left: 30px;
}