* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #60adc9;
    color: #fff;
    padding: 20px;
    width: 100%;
    position: fixed;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  nav ul li.logo {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .transaction-section {
    padding: 85px;
  }
  
  .transaction-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th,
  table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  table th {
    font-weight: bold;
    background-color: #f2f2f2;
  }
.sendMoney {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: orange;
}
.sendMoney a {
    text-decoration: none;
}
.sendMoney a:visited {
    text-decoration: none;
}
.sendMoney :hover {
    color: orangered;
}